<div class="row">
	<div class="span2">
		<button class="btn" data-ng-click="addStory()">Add Story</button>
	</div>
	<div class="btn-group">
		<a class="btn" href="#/stories/all">All</a>
		<a class="btn" href="#/stories/testable">Testable</a>
		<a class="btn" href="#/stories/complete">Complete</a>
		<a class="btn" href="#/stories/backlog">Backlog</a>
	</div>
	<div class="span5">
		<input data-ng-model="search.title" class="span4" type="text" class="search-query" placeholder="Search">
	</div>
</div>

<div class="row list-of-things">
	<!-- | filter: storyFilter -->
	<div class="media" data-ng-repeat="story in stories.asArray() | filter: storyFilter | filter: search">
		<div class="media-body">
			<h4 class="media-heading"><a data-ng-href="#/story/{{story.timestamp}}">{{story.title}}</a></h4>
			{{story.narrative}}
		</div>
	</div>
</div>